//Variables

$white: #ffffff;

//blue
$dark-blue: #195fea;
$light-blue: #c6e7ff;

//red
$dark-red: #ea1976;
$light-red: #f8b9d6;

// green
$dark-green: #059669;
$light-green: #a7f3d0;

// yellow
$yellow-green: #d97706;
$yellow-green: #fef3c7;

// box-shadow
$sm-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
$base-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.06);
$md-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
  0px 2px 4px -1px rgba(0, 0, 0, 0.06);
$lg-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  0px 4px 6px -2px rgba(0, 0, 0, 0.05);
$xl-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
  0px 10px 10px -5px rgba(0, 0, 0, 0.04);
$xxl-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
