@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Reset CSS Start
body {
  font-family: "Inter", system-ui !important;
}

button,
input {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
}
// Reset CSS End

.App {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-between;
  padding: 50px 10%;
  background: rgb(167, 175, 193);
  background: linear-gradient(
    0deg,
    rgba(167, 175, 193, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
}

::selection {
  color: #fff;
  background-color: aqua;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
