@import "../variables.scss";

.base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border-radius: 12px;

  &:active {
    scale: 0.96;
  }
}

.base-button.red {
  color: $dark-red;
  background-color: $dark-red;
}

.base-button.blue {
  color: white;
  background-color: $dark-blue;
}

.base-button.green {
  color: $white;
  background-color: $dark-green;
}

.base-button.red-border {
  color: $dark-red;
  border: 2px solid $dark-red !important;
  background-color: $white;
}

.base-button.blue-border {
  color: $dark-blue;
  border: 2px solid $dark-blue !important;
  background-color: $white;
}

.base-button.green-border {
  color: $dark-green;
  border: 2px solid $dark-green !important;
  background-color: $white;
}

.base-button.md {
  padding: 8px;
  width: 100%;
}

.base-button.xl {
  padding: 12px;
  width: 100%;
}
