@import "../variables.scss";

.base-icon-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $sm-box-shadow !important;
  cursor: pointer;

  &:active {
    scale: 0.85;
  }
}

.base-icon-button.clicked {
  scale: 0.75;
}

.base-icon-button.blue {
  background-color: $light-blue;

  span {
    color: $dark-blue;
  }
}

.base-icon-button.green {
  background-color: $light-green;

  span {
    color: $dark-green;
  }
}

.base-icon-button.red {
  background-color: $light-red;

  span {
    color: $dark-red;
  }
}

.base-icon-button.blue-border {
  border: 2px solid $dark-blue !important;

  span {
    color: $dark-blue;
  }
}

.base-icon-button.red-border {
  border: 2px solid $dark-red !important;

  span {
    color: $dark-red;
  }
}
