.question-modal-text-container {
  .q-modal-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
  }

  .q-modal-description {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .q-modal-buttons {
    display: flex;

    .base-button {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}
